.container-fluid {
    height:100%;
}
.brand-button-filled {
    width:100%;
    padding: 10px;
    border: none;
}
.brand-button-outlined {
    width:100%;
    padding: 10px;
    border: 2px solid lightgray;
    background-color:white;
}

